.git
bin/Debug/Cache
bin/Debug/Package/*.*
bin/Debug/IDE.exe.WebView2
obj
*.log
.vs
UpdateChecker.Hideinfo.cs
UpdateBackgroundDownloader.HideInfo.cs
UpdateGlobalDeployer.HideInfo.cs
*.7z
*.dmp
UpdateValidater.HideInfo.cs